<section class="pokemon-section">
  <h2 class="title">pokemon-list</h2>
</section>
<article class="pokemon-list">
  <ul *ngIf="pokemons$ | async as pokemons">
    <li *ngFor="let pokemon of pokemons">{{ pokemon.name }}</li>
  </ul>

  <div *ngIf="pokemonList$ | async as list">
    <p>{{ list.count }}</p>
    <p>{{ list.next }}</p>

    <pokemon-card
      *ngFor="let pokemon of list.results"
      [pokemon]="pokemon"
    ></pokemon-card>

    <button (click)="changePage(list.previous)">previous</button>
    <button (click)="changePage(list.next)">next</button>
  </div>
</article>
