<div *ngIf="pokemonList$ | async as list" class="pagination">
  <button
    class="pagination-button"
    *ngIf="list.previous"
    (click)="changePage(list.previous)"
  >
    previous
  </button>
  <button class="pagination-button" (click)="changePage(list.next)">
    next
  </button>
</div>

<article class="">
  <div
    *ngIf="pokemonList$ | async as list; else loadingTemplate"
    class="card-list-container"
  >
    <app-pokemon-card
      *ngFor="let pokemon of list.results"
      [pokemon]="pokemon"
    ></app-pokemon-card>
  </div>
</article>

<ng-template #loadingTemplate>
  <div class="loading">Loading...</div>
</ng-template>
